<div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <h3>Purchase Product</h3>
  </div>
  <div class="modal-body">
    <% if !@order.order_items.any? {|order_item| !order_item.delivery}%>

      <%= form_for @address, :html => {:id => 'address-form'} do |f| %>
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :line1 %>
          <%= f.text_field :line1 %>
        </div>
        <div class="field">
          <%= f.label :line2 %>
          <%= f.text_field :line2 %>
        </div>
        <div class="field">
          <%= f.label :city %>
          <%= f.text_field :city %>
        </div>
        <div class="field">
          <%= f.label :state %>
          <%= f.text_field :state %>
        </div>
        <div class="field">
          <%= f.label :zip %>
          <%= f.text_field :zip %>
        </div>
        <div class="field">
          <%= f.label :country %>
          <%= f.text_field :country %>
        </div>
        <%= f.submit "Next", :class=>"addToCart col-xs-12",:"data-href" => @order.id, :id=>"shipping" %>
      <%end%>
    <% else %>
      <span>You have mentioned that you will be picking up one or more items in this shopping cart personally from the following address: 13 Beach Street 726355 Singapore. All the purchased items will be waiting for you on that day on the requested time. Should you wish to have the other items still shipped to you, please check them out seperately.</span>
      <%= link_to "Continue", order_shipping_path(current_order), remote: true, class: "btn btn-primary", :id =>"shipping", :"data-href" => @order.id %>
    <%end%>

  <div class="modal-footer">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Checkout cart"
            data-shipping-address="false"
            data-amount=<%= current_order.total_price * 100%>
            data-locale="auto"></script>
  </div>
  </div>
</div>
