<div class="modal-dialog">
  <div class="modal-content" id="content">
    <div class="modal-header">
      <h3>Shipping Address</h3>
    </div>
    <% if !@order.order_items.any? {|order_item| !order_item.delivery}%>

      <%= form_for @address, :html => {:id => 'address-form'} do |f| %>
        <div class="modal-body panel-body">
          <div class="form-group">
            <%= f.label :name, class: "col-md-4 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :name, class: "form-control", id: "name" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :line1, class: "col-md-4 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :line1, class: "form-control", id: "line1" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :line2, class: "col-md-4 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :line2, class: "form-control", id: "line2" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :city, class: "col-md-4 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :city, class: "form-control", id: "city" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :state, class: "col-md-4 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :state, class: "form-control", id: "state" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :zip, class: "col-md-4 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :zip, class: "form-control", id: "zip" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :country, class: "col-md-4 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :country, class: "form-control", id: "country" %>
            </div>
          </div>
          <%if @order.order_items.any? {|order_item| order_item.delivery && order_item.product.category_id=="3"}%>
            <span>You have indicated that you wish to receive delivery of your items in Singapore. All the items in your cart will be delivered together for a fixed charge of $10.</span>
          <%end%>
        </div>
        <div class="modal-footer">
          <%= button_tag "Next", :class=>"addToCart col-xs-12 btn btn-lg simple-button-black",:"data-href" => @order.id, :id=>"shipping" do %>
            <span class="button-text-black">
              Next
            </span>
          <%end%>
        </div>
      <%end%>
    <% else %>
      <div class="modal-body">
        <span>You have mentioned that you will be picking up one or more items in this shopping cart personally from the following address: 13 Beach Street 726355 Singapore. All the purchased items will be waiting for you on that day on the requested time. <br><br>Should you wish to have the other items still shipped to you, please check them out seperately.</span>
      </div>
      <div class="modal-footer">
        <%= link_to "Continue", order_shipping_path(current_order), class: "btn btn-primary", :id =>"shipping", :"data-href" => @order.id %>
      </div>
    <%end%>
  </div>
</div>
