<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Account</th>
      <th>Total price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.status %></td>
        <td><%= order.account_id %></td>
        <td><%= order.total_price %></td>
        <td><%= link_to 'Show', user_order_path(user_id: current_user, id:order) %></td>

      </tr>
    <% end %>
  </tbody>
</table>
