$('.delete_order_item').bind('ajax:success', function() {
  $('#order-total').html("<%= number_to_currency current_order.calculate_total %>")
  $('.item-count').html("<%=current_order.order_items.count%>");
  $(this).closest('li').remove();
  if ($('.order-item').length == 0){
    $('.empty-cart-div').html("<p>Your shopping cart is empty.</p>")
    $('.empty-cart').html("")
    $('.checkout-button-div').hide()
    $('.checkout-button').hide()
  };
  $('#dropdown-toggle-button').addClass("open");
});

$('.delete_order_item_checkout').bind('ajax:success', function() {
  $('#order-total').html("<%= number_to_currency current_order.calculate_total %>")
  $('.item-count').html("<%=current_order.order_items.count%>");
  $('#'+ $(this).attr('data-href')).remove();
  if ($('.order-item').length<=0){
    $('#content').html('<div class="fullscreen"><div class="container main-text-container"><div class="col-xs-12"><span class="">Your Cart is Empty</span></div><div class="col-xs-12"><button class="btn btn-lg simple-button-black"><a href="<%= request.base_url %>/categories/2/?low=0&high=400&tags%5B%5D=Bracelet&tags%5B%5D=Earring&tags%5B%5D=Necklace&tags%5B%5D=Ring" class="link_to"><span class="button-text-black">Continue Shopping</span></a></button></div></div></div>');
  };
});
