<div class="container">
  <ul class="tags row">
    <li class="outer-tag">
      <%= link_to category_path(@category), class: "tag" do %>
        <span id="tag-name">All</span>
      <%end%>
    </li>
    <%@tags.each do |tag|%>
      <li class="outer-tag">
        <%= link_to category_tag_path(@category,tag), class: "tag" do %>
          <span id="tag-name"><%=tag.name%></span>
        <%end%>
      </li>
    <%end%>
  </ul>
  <h3> Products under this category </h3>

  <div class="filter row">
    <div class="price-filter col-xs-5">
      <span>
        <label for = "price">Price range:</label>
        <input type = "text" id = "price" style = "border:0; color:#b9cd6d; font-weight:bold;">
      </span>
      <div id = "slider-3" class="price-slider" data-href = <%=@category.id%> ></div>

    </div>
  </div>


  <div id="productss"><%=render 'products'%></div>


</div>

<div id="product-modal" class="modal fade"></div>

<div id="loading-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="spinner">
          <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
          </div>
        </div>
        <div class="text-center">
          <span class="">Loading, please wait a moment</span>
        </div>
      </div>
    </div>
  </div>
</div>
