<div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <h3>Order Cake</h3>
  </div>
  <div class="modal-body delivery-body">
    <%= form_for @order_item, remote: true do |f| %>
    <div class="cart-form">
      <div class="delivery-body">
        <div class="small-show-image">
          <%= image_tag(@product.images.first.photo.url, :class=>"small-product-show-image") %>
        </div>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.hidden_field :prep_time, value: @product.time_needed, :id=>"prep_time" %>
        <div class="minus-quantity"><span>-</span></div>
        <%= f.number_field :quantity, :class=>"cake-quantity cake-quantity" %>
        <div class="plus-quantity"><span>+</span></div>
        <div class="form-group">
          <%= f.radio_button :delivery, "1", checked:true, class: 'delivery-option' %> <%= f.label :delivery, "Get Delivery ($10 per order)" %>
          <%= f.radio_button :delivery, "0", class: 'delivery-option' %> <%= f.label :delivery, "Pick up from 16 Beach Street" %>
        </div>
        <h5 class="pickup-title">Pick up time from 14 Beach Street</h5>
        <h5 class="delivery-title">Deliver to my home</h5>
        <div class="form-group requested-datetime">
          <div class='input-group' id='datetimepicker1'>
            <div id="datepicker date">
              <%= f.text_field :requested_date, data:{ provide:'datepicker' }, :id=>"requested_date" %>
            </div>
            <%=f.time_field :requested_time, :id=>"requested_time"%>
          </div>
        </div>
      </div>
      <div class="modal-footer">
          <%= f.submit "Add to cart", :class=>"add-cart col-xs-12 btn btn-default",:id=>"cake-add-cart" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
