<div class="modal-dialog">
  <div class="modal-content">
    <%= bootstrap_form_for @product, remote: true, :html => {style: 'display:inline;', :multipart => true} do |f| %>
      <div class="modal-body">
        <% if @product.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

            <ul>
            <% product.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select one!", :id=>"category-select" )%>
        
        <div id="form-specific">
        </div>
        <% if !@product.images.empty? %>
          <%@product.images.each do |image|%>
            <%= image_tag image.photo.url %>
            <%= link_to 'Delete', image, :class=>"btn btn-default", :method=> :delete %>
          <%end%>
        <% end %>
        <div id="images">
          <% if f.object.new_record? %>
            <%= f.fields_for :images do |image| %>
              <% render 'image_fields', :f => image%>
            <%end%>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'add image', f, :images%>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <%= f.submit class: "btn btn-primary" %>
        <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
      </div>
    <% end %>
  </div>
</div>
