<div class='nested-fields'>
  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <h5>Package Dimensions</h5>
  <div class="field">
    <%= f.label :height %>
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :length %>
    <%= f.text_field :length %>
  </div>
  <div class="field">
    <%= f.label :width %>
    <%= f.text_field :width %>
  </div>
  <%= link_to_remove_association "remove size", f %>
</div>
