<p id="notice"><%= notice %></p>
<div class="container">
  <ul class="categories">
    <%@categories.each do |category|%>
      <li><%= link_to category_path(category), class: "btn btn-primary" do %>
        <%=category.name%>
      <%end%>
      </li>
    <%end%>
  </ul>
  <% if @jams.any? %>
    <div class="jams row">
      <h1>Jams</h1>
      <%= render partial: "index", locals: {products: @jams} %>
    </div>
  <% end %>

  <% if @jewelery.any? %>
    <div class="jewelery row">
      <h1>Jewelery</h1>
      <%= render partial: "index", locals: {products: @jewelery} %>
    </div>
  <%end%>

  <% if @cakes.any? %>
    <div class="cakes row">
      <h1>Cakes</h1>
      <%= render partial: "index", locals: {products: @cakes} %>
    </div>
  <%end%>


  <div class="well">
    <%= link_to "New Product", new_product_path, remote: true, class: "btn btn-primary" %>
  </div>

  <div id="product-modal" class="modal fade"></div>
</div>
