<%=image_tag("jams.jpg", :class=>"jams-homescreen")%>
<div class="container" id="index">
  <p id="notice"><%= notice %></p>
  <ul class="categories">
    <%@categories.each do |category|%>
      <li class="outer-category" id=<%=category.name%>-category>
        <%= link_to category_path(category), class: "category" do %>
        <%=image_tag(category.name + "-icon.png", :class=>"icon jam-icon", :id=>category.name+"-category")%>
        <span id="category-name"><%=category.name%></span>
        <%end%>
      </li>
    <%end%>
  </ul>
  <% if @jams.any? %>
    <div class="jams row section">
      <h1 class="jam-title title">Jams</h1>
      <div class="row">
        <div class="title-underlign col-xs-2 col-xs-offset-5"></div>
      </div>
      <%= render partial: "index", locals: {products: @jams} %>
    </div>
  <% end %>

  <% if @jewelery.any? %>
    <div class="jewelery row section">
      <h1 class="jewelery-title title">Jewelery</h1>
      <div class="row">
        <div class="title-underlign col-xs-2 col-xs-offset-5"></div>
      </div>
      <%= render partial: "index", locals: {products: @jewelery} %>
    </div>
  <%end%>

  <% if @cakes.any? %>
    <div class="cakes row section">
      <h1 class="cakes-title title">Cakes</h1>
      <div class="row">
        <div class="title-underlign col-xs-2 col-xs-offset-5"></div>
      </div>
      <%= render partial: "index", locals: {products: @cakes} %>
    </div>
  <%end%>

  <% if admin_signed_in? %>
  <div class="well">
    <%= link_to "New Product", new_product_path, remote: true, class: "btn btn-primary" %>
  </div>
  <% end %>

  <div id="product-modal" class="modal fade"></div>
  <div id="loading-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="spinner">
            <div class="sk-cube-grid">
              <div class="sk-cube sk-cube1"></div>
              <div class="sk-cube sk-cube2"></div>
              <div class="sk-cube sk-cube3"></div>
              <div class="sk-cube sk-cube4"></div>
              <div class="sk-cube sk-cube5"></div>
              <div class="sk-cube sk-cube6"></div>
              <div class="sk-cube sk-cube7"></div>
              <div class="sk-cube sk-cube8"></div>
              <div class="sk-cube sk-cube9"></div>
            </div>
          </div>
          <div class="text-center">
            <span class="">Loading, please wait a moment</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
