

  <p id="notice"><%= notice %></p>
<div class="product-show">
  <%if @product.category_id=="1"||@product.category_id=="3"%>
    <div class="container">
      <div class="row">
        <div class="col-xs-9">
          <div class="col-xs-4 col-xs-offset-0">
            <%= image_tag(@product.images.first.photo.url, :class=>"product-show-image") %>
          </div>
          <div class="col-xs-8 product-details">
            <div class="col-xs-12 product-title">
              <span class="title"><%=@product.name%></span>
            </div>
            <div class="col-xs-12 product-description">
              <span class="description"><%=@product.description%></span>
            </div>
          </div>
          <div class="col-xs-12 storage">
            <span class="sub-title">Storage Instructions: </span>
            <span class="storage-inst"><%=@product.storage_inst%></span>
          </div>
        </div>
        <div class="col-xs-3">
          <%if @product.category_id=="3"%>
            <div class="col-xs-12" id="order-cake">
              <%= link_to product_delivery_path(@product), remote: true, class: "btn btn-default", id: "order-cake-btn" do %>
                <span class="order-cake-text">Order</span>
              <%end%>
            </div>
          <%end%>
          <% if @product.category_id =="1" %>
            <div class="col-xs-12 jam-add-cart">
              <%= form_for @order_item, remote:true do |f| %>
                <div class="cart-form">
                  <%= f.hidden_field :product_id, value: @product.id %>
                  <div class="col-xs-12">
                    <%= f.select(:size, options_for_select(@product.sizes.collect{ |u| ["#{u.amount} g - #{number_to_currency u.price}" , u.amount] }), {include_blank: "Select size"}, { :class => 'selectpicker'})%>
                  </div>
                  <div class="minus-quantity"><span>-</span></div>
                  <%= f.number_field :quantity, :class=>"jam-quantity quantity"%>
                  <div class="plus-quantity"><span>+</span></div>
                  <%= button_tag(type: 'submit', :class=>"add-cart btn btn-default", :id=>"jam-add-cart") do %>
                    <span class="add-cart-text">Add to cart</span>
                  <%end%>
                </div>
              <% end %>
            </div>
          <% end %>
          <div class="col-xs-12 product-ingredients">
            <div class="col-xs-12">
              <span class="sub-title">Ingredients</span>
            </div>
            <%@product.ingredients.each do |ingredient|%>
              <div class="col-xs-10 col-xs-offset-1 ingredient">
                <span class="ingredient-name"><%=ingredient.name%></span>
                <%= image_tag(ingredient.name + "-icon", :class=>"ingredient-icon") %>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  <%end%>
  <%if @product.category_id=="2"%>
  <div class="product-topbar">
    <%= image_tag("main-image.jpg", :class => "main-image") %>
    <div class="container product-topbar-text-container">
      <div class="col-xs-12">
        <span class="product-topbar-text">Intricate, beautiful, you</span>
      </div>
    </div>
  </div>
    <div class="container" id="show-item">
      <div class="main-details">
        <div class="col-xs-12 col-xs-offset-0">
          <div class="content-path-links">
            <a href="<%= request.base_url %>/products" class="link_to">
              <span class="content-path-text">
                Home
              </span>
            </a>
            <span class="content-path-text">/</span>
            <a href="<%= request.base_url %>/categories/2/?low=0&high=400&tags%5B%5D=Bracelet&tags%5B%5D=Earring&tags%5B%5D=Necklace&tags%5B%5D=Ring" class="link_to">
              <span class="content-path-text">
                Shop
              </span>
            </a>
            <span class="content-path-text">/</span>
            <%=link_to product_path(@product), :class=>"link_to" do%>
              <span class="content-path-text">
                <%=@product.name%>
              </span>
            <%end%>

          </div>
          <div class="col-xs-1 col-xs-offset-0 preview-images">
            <% @product.images.each_with_index do |image, index| %>
              <div data-target="#carouselExampleIndicators" data-slide-to="<%=index%>" class="<%= index == 0 ? 'active' : '' %>">
                <%= image_tag(image.photo.url, :class=>"d-block img-fluid preview-product-show-image #{(index == 0 ? 'active' : '')}", :id=>"product-preview-image")%>
              </div>
            <% end %>
          </div>
          <div class="col-xs-4 col-xs-offset-0 big-image">
            <div class="row carousel">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner" role="listbox">
                  <% @product.images.each_with_index do |image, index| %>
                    <div class="carousel-item item <%=index == 0 ? 'active' : '' %>">
                      <%= image_tag(image.photo.url, :class=>"d-block img-fluid product-show-image", :id=>"product-show-image")%>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-xs-offset-1 product-details">
            <div class="col-xs-12 text-left product-show-name-div">
              <span class="product-show-name"><%=@product.name%></span>
            </div>
            <div class="col-xs-12 product-show-price-div text-left">
              <span class="product-show-price currency-field"><%=humanized_money_with_symbol @product.currency_price("#{current_currency}") %></span>
            </div>
            <div class="col-xs-12 jewelery-add-cart">
              <%if @product.category_id=="2"%>
                <%= form_for @order_item, remote: true do |f| %>
                  <div class="cart-form">
                    <%= f.hidden_field :product_id, :class=>"product_id", value: @product.id %>
                    <div class="cart-notice"></div>
                    <%= f.hidden_field :quantity, :class=>"jewelery-quantity quantity", value:1, :"data-href" => @product.stock %>
                    <%= button_tag(type: 'submit', :class=>"add-cart btn btn-default", :id=>"jewelery-add-cart") do %>
                      <span class="add-cart-text">Add to cart</span>
                    <%end%>
                  </div>
                <%end%>
              <%end%>
            </div>
            <div class="col-xs-12 tabbed-content">
              <ul class="tabs-list col-xs-12">
                <li class="active tab-item col-xs-4" id="description-tab">Description</li>
                <li class="tab-item col-xs-4" id="size-tab">Dimensions</li>
                <li class="tab-item col-xs-4" id="materials-tab">Materials</li>
              </ul>
              <div class="tabs-list-line">
              </div>
              <ul class="tabs-content">
                <li class="active content-item" id="description-tab-content"><%=@product.description%></li>
                <li class="content-item" id="size-tab-content">
                  <span class="small-text capitalize">Diameter: 15cm</span></br>
                  <span class="small-text capitalize">Weight: 50g</span></br>
                  <span class="small-text capitalize">Length: 30cm</span>
                </li>
                <li class="content-item" id="materials-tab-content">
                  <%@product.materials.each do |material|%>
                    <span class="small-text capitalize"><%=material.name%></span></br>
                  <%end%>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-xs-12 small-screen-tabbed-content">
          <ul class="tabs-list col-xs-12">
            <li class="active tab-item col-xs-4" id="small-description-tab">Description</li>
            <li class="tab-item col-xs-4" id="small-size-tab">Dimensions</li>
            <li class="tab-item col-xs-4" id="small-materials-tab">Materials</li>
          </ul>
          <div class="tabs-list-line">
          </div>
          <ul class="tabs-content">
            <li class="active content-item" id="small-description-tab-content"><%=@product.description%></li>
            <li class="content-item" id="small-size-tab-content">
              <span class="small-text capitalize">Diameter: 15cm</span></br>
              <span class="small-text capitalize">Weight: 50g</span></br>
              <span class="small-text capitalize">Length: 30cm</span>
            </li>
            <li class="content-item" id="small-materials-tab-content">
              <%@product.materials.each do |material|%>
                <span class="small-text capitalize"><%=material.name%></span></br>
              <%end%>
            </li>
          </ul>
        </div>

        <div class="col-xs-12 relatedproducts">
          <span class="relatedproducts-title col-xs-12">You may also like</span>
          <%@relatedproducts.each do |product|%>
            <div class="col-md-4 outside-product">
              <div class="col-md-12">
                <div class="col-md-12">
                  <%= link_to product_path(product) do %>
                    <div class="row carousel">
                      <div id="carouselfor<%=product.id%>" class="carousel slide carouselExampleIndicators" data-interval="false" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                          <% product.images.each_with_index do |image, index| %>
                            <div class="carousel-item item <%=index == 0 ? 'active' : '' %>">
                              <%= image_tag(image.photo.url, :class=>"d-block img-fluid product-image")%>
                            </div>
                          <% end %>
                        </div>
                        <a class="carousel-control left" href="#carouselfor<%=product.id%>" role="button" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control right" href="#carouselfor<%=product.id%>" role="button" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
                    <span class="product-name col-xs-12"><%= product.name %></span>
                    <span class="product-price col-xs-12"><%=humanized_money_with_symbol product.currency_price("#{current_currency}") %></span>
                  </div>
                </div>
              <%end%>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  <%end%>
</div>


  <div id="product-modal" class="modal"></div>
  <div id="cake-modal" class="modal"></div>
