<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="collapse navbar-collapse navbar-fixed-top" id="navbar">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Home', products_path %></li>
            <%if admin_signed_in?%>
              <li><%= link_to 'All Orders', orders_path() %></li>
            <%else%>
              <li><%= link_to 'Track Order', orders_path() %></li>
            <%end%>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Jams', category_path(1) %></li>
            <li><%= link_to 'Jewelery', category_path(2) %></li>
            <% if in_singapore %>
              <li><%= link_to 'Cakes', category_path(3) %></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="cart-dropdown"><span id="order-total"><%= number_to_currency current_order.calculate_total %></span>
              <span class="glyphicon glyphicon-shopping-cart"></span><span class="item-count"><%=current_order.order_items.count%></span><span class="caret"></span><span></a>
              <ul class="dropdown-menu dropdown-cart" role="menu">
                <div class="shopping-cart">
                  <%= render "layouts/shopping_cart" %>
                </div>

                <div class="empty-cart-div">
                </div>

                <div class="checkout-button-div">
                </div>

                <% if current_order_items==nil || !current_order_items.any? %>
                  <li>
                    <span class="empty-cart">
                      <p>Your shopping cart is empty.</p>
                    </span>
                  </li>
                <%end%>
                <%if current_order_items!=nil && current_order_items.any?%>
                  <div class="checkout-button">
                    <%= link_to "Proceed to Checkout", order_checkout_path(current_order), remote: true, class: "btn btn-default", id:"checkout-button" %>
                  </div>
                <% end %>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if admin_signed_in? %>
              <li><%= link_to 'Edit profile', edit_admin_registration_path %></li>
              <li><%= link_to 'Logout Admin', destroy_admin_session_path, method: :delete%></li>
            <% end%>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
  <div class="spinner">
    <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
  </div>
</html>
