<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="collapse navbar-collapse navbar-fixed-top" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to 'All Products', products_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to 'My Orders', user_orders_path(current_user) %></li>
            <%end%>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= number_to_currency current_order.calculate_total %>
              <span class="glyphicon glyphicon-shopping-cart"></span><span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-cart" role="menu">
                <% if @order_items!=nil && @order_items.any? %>
                  <% @order_items.each do |item| %>
                    <li>
                      <span class="item">
                        <span class="item-left">
                          <%= image_tag(item.product.images.first.photo.url, :class=> "cart-item-image") %>
                          <span class="item-info">
                            <span><%= item.product.name%> <%if item.product.category_id=="1"%><%= item.size %>g<%end%></span>
                            <span><%=item.quantity%> x <%=number_to_currency (if item.product.price!=nil
                              item.product.price
                            else
                              Size.where({amount: item.size, product_id: item.product.id}).first.price
                            end)%></span>

                          </span>
                        </span>
                        <span class="item-right">
                          <%= link_to "x", order_item_path(item), :data => {:method => "delete"}, :class =>"btn btn-danger  fa fa-close"%>
                        </span>
                      </span>
                    </li>
                    <article>
                      <% if flash[:error].present? %>
                        <div id="error_explanation">
                          <p><%= flash[:error] %></p>
                        </div>
                      <% end %>
                    </article>
                  <% end %>
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                          data-description="Checkout cart"
                          data-shipping-address="true"
                          data-amount=<%= current_order.total_price * 100%>
                          data-locale="auto"></script>
                <% else %>
                  <li>
                    <span class="item-info">
                      <p>Your shopping cart is empty.</p>
                    </span>
                  </li>
                <% end %>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>

                  <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
                  <li><%= link_to 'Logout', destroy_user_session_path, method: :delete%></li>

            <% else %>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
            <% end%>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
